
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="opacity: 0.8">
    <a class="navbar-brand" href="https://www.tbcbank.ge/web/ka">TBC Website</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/search">Question</a>
        </li>
        {% if current_user.role == "Admin" %}
        <li class="nav-item">
          <a class="nav-link" href="/registered_users">Edit</a>
        </li>
        {% endif %}
        {% if current_user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="/logout">Log out</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="/new2">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/new1">Login</a>
        </li>
        {% endif %}
        <li class="nav-item">
          <a class="nav-link" href="#">{{ current_user.username }}</a>
        </li>
      </ul>
    </div>
  </nav>